[User]
	name = Jianfei Hu 
	email = hujianfei258@gmail.com
[alias]
	co = checkout
	ci = commit -a
	st = status
	br = branch
	oneline = log --pretty=oneline --since='2 days ago'
	onelog = log -p -1
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[core]
	editor = vim
