[User]
	name = Jianfei Hu 
	email = hujianfei258@gmail.com
[alias]
	co = checkout
	ci = commit -a
	st = status
	br = branch
	oneline = log --pretty=oneline #--since='2 days ago'
	onelog = log -p -1
	dfw = diff --ignore-all-space
  sv = !git stash clear && git stash && git stash apply

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = matching
[core]
	editor = vim
