[User]
	name = Jianfei Hu 
	email = jianfeih@google.com
[alias]
	co = checkout
  ci = commit -a --no-verify
  cmp = "!gitcmp() { git ci -m \"$@\" && git push origin HEAD; }; gitcmp"
	st = status
  br = branch
  clean = clean -f -d # deleteuntracked files in workspace.
	oneline = log --pretty=oneline #--since='2 days ago'
	onelog = log -p -1
	dfw = diff --ignore-all-space
  sv = !git stash clear && git stash && git stash apply
  delbr = !git push -d origin $1 && git br -D $1  # alias to delete both local and remote branch.

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = matching
[diff]
	tool = vimdiff
[difftool]
      prompt = false
[http]
	followRedirects = 1
	followRedirects = 1
	followRedirects = 1
	followRedirects = 1
[credential]
  helper = cache --timeout=36000000
[pager]
	branch = false
[core]
  editor = vim

